<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="./../styles/index.scss" />

<div class="container bg-white bg-error-hero">
  <div class="row p-y-30">
    <section class="flex w-100 container content">
      <div class="w-50 md-down:w-100 p-y-25 gray-darkest">
        <h1 class="h3 gray-darkest bold m-b-15">Ops, something went wrong.</h1>
        <p>Don’t worry. You are in good hands.</p>
        <p class="m-b-25">Call or chat with one of our agents to finish setting up service for your home.</p>
        <button class="btn bg-blue-dark white p-y-8 p-x-25">Talk to an agent today <img class="h-15px w-15px" src="../images/icons/phone-white.svg" alt=""/>  888-888-8888</button>
      </div>
    </section>
  </div>
</div>
