<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="./../styles/index.scss" />
<script type="text/javascript" src="./../index.js"></script>

<!-- CART 3-A -->
  <div class="container bg-blue-sky">
    <div class="row p-y-5">
      <div class="content flex flex-row">
        <img class="w-15px h-15px" src="../images/icons/2a-addressbar.svg" alt=""/>
        <p class="text-14">200 Deerhunter Rd, Apt 4, Omaha, NE 42311 <a class="no-underline" href="#">Change</a></p>
      </div>
    </div>
  </div>

  <div class="container box-shadow">
    <div class="row p-y-8">
        <div class="flex space-between content">
          <div class="flex flex-row align-center">
            <p class="p-x-10 text-14 blue bold">Package</p>
            <img class="w-15px h-15px -m-t-5" src="../images/icons/3a-selectionproduct-02.svg" alt=""/>
            <p class="p-x-10 text-14 gray-dark">Bundling</p>
            <img class="w-15px h-15px -m-t-5" src="../images/icons/3a-selectionproduct-02.svg" alt=""/>
            <p class="p-x-10 text-14 gray-dark">Checkout</p>
            <img class="w-15px h-15px -m-t-5" src="../images/icons/3a-selectionproduct-02.svg" alt=""/>
            <p class="p-x-10 text-14 gray-dark">Summary</p>
            <img class="w-15px h-15px -m-t-5" src="../images/icons/3a-selectionproduct-02.svg" alt=""/>
            <p class="p-x-10 text-14 gray-dark">Install</p>
          </div>
          <div class="flex flex-row align-center">
            <img class="w-25px h-25px" src="../images/icons/3a-selectproduct-01.svg" alt=""/>
            <p class="m-l-10">My Cart</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row p-y-30">

      <section class="w-100 content">

        <div class="gray-darkest">
          <h1 class="h3 gray-darkest">Available internet packages for your home</h1>
          <p class="gray m-b-15">Showing 2 products</p>
          <p class="m-b-25">Choose any package below to start building your service bundle.</p>
        </div>

        <div class="package-cards-container">

          <div class="content">
            <div class="package-card">
              <div class="label-container">
                <p class="label">
                  Highest Speed
                </p>
              </div>
              <div class="title-container m-b-15">
                <p class="text-center title">Internet 1000</p>
              </div>
              <p class="text-center text-14">Monthly Cost</p>
              <div class="price">
                <div class="prefix">$</div>
                <div class="amount">39</div>
                <div class="change">99</div>
              </div>
              <div class="p-b-15 p-x-15 text-center">
                <p class="legal">for 12 mos plus taxes & equip fee. $10/mo equip. fee applies. Incl unlimited internet data allowance ($30 value)   <span data-modal-trigger="internet-1000-details" class="underlined pointer">See Offer Details</span>
                  <!-- Start modal content -->
                  <div data-modal-content="internet-1000-details" class="modal hidden sm:p-x-15 is-active">
                    <div class="modal-content p-25 sm:p-x-15 w-50 md-down:w-100">
                      <div class="w-100 text-right">
                        <span data-modal-trigger="close" class="close">&times;</span>
                      </div>
                      <div class="text-left">
                        <p class="text-24 p-b-15">Offer Details.</p>
                        <p class="bold text-14 p-b-15">
                          Geographic and service restrictions apply to AT&T Internet services. Not all speeds available in all areas. Call to see if you qualify.
                        </p>

                        <p class="text-14 p-b-15">
                          <span class="bold">$39.99 Internet 1000 Offer: Ends 6/27/20.</span> Price requires bundle with another qualifying AT&T service (DIRECTV, U-verse TV, AT&T TV, AT&T Phone or postpaid AT&T wireless). <span class="bold">Pricing for first 12 months only.</span> After 12 mos or loss of eligibility, then prevailing rate applies (currently $59.99/mo) unless canceled or changed by customer prior to end of 12 months. Must maintain qualifying bundled services with matching service address to receive advertised pricing. <span class="bold">Additional Fees & Taxes:</span> AT&T one-time transactional fees, $10/mo. equipment fee, and monthly cost recovery surcharges which are not government-required may apply, as well as taxes. See <a class="gray-dead" href="https://www.att.com/fees">www.att.com/fees</a> for details. Credit restrictions apply. Pricing subj to change. Subj. to Internet Terms of Service at att.com/internet-terms.
                        </p>
                        <p class="text-14">
                          †† <span class="bold">Internet speed claims</span> represent maximum network service capability speeds and based on wired connection to gateway. Actual customer speeds may vary based on a number of factors and are not guaranteed. Download speeds are typically up to 940Mbps due to overhead capacity reserved to deliver the data. For more information, go to www.att.com/speed101.</p>
                      </div>
                    </div>
                  </div>
                  <!-- End modal content -->

                </p>
              </div>
              <div class="speed">
                <div class="box">
                  <p class="text-12 text-center top">Download/upload speed</p>
                  <p class="text-center unit">1000/1000 Mpbs</p>
                </div>
              </div>

              <p class="text-center text-14 p-x-10 p-b-15">This is the internet you've been waiting for. AT&T Internet 1000 gives you the speed you need and backs it up with a 100% fiber network. </p>

              <button class="add-cart-btn" data-trigger="internet">
                Add to Cart
              </button>
            </div>
          </div>

          <div class="content">
            <div class="package-card">

              <div class="title-container m-b-15">
                <p class="text-center title">Internet 100</p>
              </div>
              <p class="text-center text-14">Monthly Cost</p>
              <div class="price">
                <div class="prefix">$</div>
                <div class="amount">49</div>
                <div class="change">99</div>
              </div>

              <div class="p-b-15 p-x-15 text-center">
                <p class="legal">for 12 mos plus taxes & equip fee. $10/mo equip. fee applies. Incl unlimited internet data allowance ($30 value)   <span data-modal-trigger="internet-100-details" class="underlined pointer">See Offer Details</span>
                  <!-- Start modal content -->
                  <div id="myModal" data-modal-content="internet-100-details"  class="modal hidden sm:p-x-15 is-active">
                    <div class="modal-content w-50 sm:p-x-15 p-25 md-down:w-100">
                      <div class="w-100 text-right">
                        <span data-modal-trigger="close" class="close">&times;</span>
                      </div>
                      <div class="text-center">
                        <div class="text-left">
                          <p class="text-24 p-b-15">Offer Details.</p>
                          <p class="bold text-14 p-b-15">
                            Geographic and service restrictions apply to AT&T Internet services. Not all speeds available in all areas. Call to see if you qualify.
                          </p>

                          <p class="text-14 p-b-15">
                            <span class="bold">$49.99 Internet 100 Offer: Ends 6/27/20.</span> Price requires bundle with another qualifying AT&T service (DIRECTV, U-verse TV, AT&T TV, AT&T Phone or postpaid AT&T wireless). <span class="bold">Pricing for first 12 months only.</span> After 12 mos or loss of eligibility, then prevailing rate applies (currently $59.99/mo) unless canceled or changed by customer prior to end of 12 months. Must maintain qualifying bundled services with matching service address to receive advertised pricing. <span class="bold">Additional Fees & Taxes:</span> AT&T one-time transactional fees, $10/mo. equipment fee, and monthly cost recovery surcharges which are not government-required may apply, as well as taxes. See <a class="gray-dead" href="https://www.att.com/fees">www.att.com/fees</a> for details. Credit restrictions apply. Pricing subj to change. Subj. to Internet Terms of Service at att.com/internet-terms.
                          </p>
                          <p class="text-14">
                            †† <span class="bold">Internet speed claims</span> represent maximum network service capability speeds and based on wired connection to gateway. Actual customer speeds may vary based on a number of factors and are not guaranteed. Download speeds are typically up to 940Mbps due to overhead capacity reserved to deliver the data. For more information, go to www.att.com/speed101.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End modal content -->

                </p>
              </div>
              <div class="speed">
                <div class="box">
                  <p class="text-12 text-center top">Download/upload speed</p>
                  <p class="text-center unit">100/100 Mpbs</p>
                </div>
              </div>

              <p class="text-center text-14 p-x-10 p-b-15">This is the internet you've been waiting for. AT&T Internet 1000 gives you the speed you need and backs it up with a 100% fiber network. </p>

              <button class="add-cart-btn" data-trigger="internet">
                Add to Cart
              </button>
            </div>
          </div>

        </div>
      </section>

    </div>
  </div>
