<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
<link rel="stylesheet" href="./../styles/index.scss" />

  <!-- SCREEN 2-B -->

  <div class="container bg-light bg-family-hero">
    <div id="screen-1" class="row p-y-30">

      <section class="flex w-100">

        <div class="w-50 md-down:w-100 p-y-25 p-x-25 gray-darkest">
          <h1 class="h3 gray-darkest bold m-b-15">Do you mean 300 Deer Branch Ln, Apt 4, Vacaville, CA 95688? </h1>
          <p class="bold m-b-25">You entered: 300 Beer Branch Ln, Apt 4, 95688</p>

          <button class="btn bg-blue-dark w-100 white p-y-8 p-x-25 m-b-15">Yes, use suggestion</button>
          <p class="legal gray-darkest m-b-15">*Required Field <br/> Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <button class="btn bg-white btn-shadow p-y-8 p-x-25">‹ Back</button>
        </div>

      </section>

    </div>
  </div>
