.bg-default {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.bg-family-hero {

  position: relative;
  &::after {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/images/service-hero-2a.jpg');
    @include medium-down {
      display: none;
    }

  }
}
