.icon-lock {
  position: relative;
  padding-left: 30px;

  &::before {
    position: absolute;
    left: 0;
    top: -1px;
    background-image: url('/images/icons/5a-creditcheck-02.svg');
    width: 22px;
    height: 22px;
    content: '';
  }
}

.icon-check-circle {
  position: relative;
  padding-left: 30px;

  &::before {
    position: absolute;
    left: 0;
    top: -2px;
    background-image: url('/images/icons/3a-selectproduct.svg');
    width: 22px;
    height: 22px;
    content: '';
  }
}

