.icon-lock {
  position: relative;
  padding-left: 25px;

  &::before {
    position: absolute;
    left: 0;
    background-image: url('/images/icons/5a-creditcheck-02.svg');
    width: 22px;
    height: 22px;
    content: '';
  }
}