@font-face {
  font-family: aleckCdLight;
  src: url("./../fonts/ATTAleckCd_Lt.ttf") format("truetype");
}

@font-face {
  font-family: aleckCdMed;
  src: url("./../fonts/ATTAleckCd_Md.ttf") format("truetype");
}

@font-face {
  font-family: aleckSansLight;
  src: url("./../fonts/ATTAleckSans_Lt.ttf") format("truetype");
}

@font-face {
  font-family: aleckSans;
  src: url("./../fonts/ATTAleckSans_Rg.ttf") format("truetype");
}

@font-face {
  font-family: aleck;
  src: url("./../fonts/ATTAleckSans_Rg.ttf") format("truetype");
  }

@font-face {
  font-family: aleckSansMed;
  src: url("./../fonts/ATTAleckSans_Md.ttf") format("truetype");
}

@font-face {
  font-family: aleckSansBold;
  src: url("./../fonts/ATTAleckSans_Bd.ttf");
}

@font-face {
  font-family: aleckSansBdLt;
  src: url("./../fonts/ATTAleckSans_BdIt.ttf") format("truetype");
}


@font-face {
  font-family: aleckSansBlkLt;
  src: url("./../fonts/ATTAleckSans_BlkIt.ttf") format("truetype");
}

@font-face {
  font-family: aleckSansBlk;
  src: url("./../fonts/ATTAleckSans_Blk.ttf") format("truetype");
}

@font-face {
  font-family: aleckCmp;
  src: url("./../fonts/ATTAleckCmp_Md.ttf") format("truetype");
}

$font-aleckcd: aleckCdMed, Helvetica, Arial, sans-serif;
$aleckCdLight: aleckCdLight, Helvetica, Arial, sans-serif;
$aleckSansLight: aleckSansLight, Helvetica, Arial, sans-serif;
$aleckSansMed: aleckSansMed, Helvetica, Arial, sans-serif;
$font-aleck: aleck, Helvetica, Arial, sans-serif;
$font-aleck-bold: aleckSansBold, Helvetica, sans-serif;
$fontAleckBoldLt: aleckSansBdLt, Helvetica, sans-serif;
$fontAleckBlk: aleckSansBlk, Helvetica, sans-serif;
$fontAleckBlkLt: aleckSansBlkLt, Helvetica, sans-serif;
$aleckCmp: aleckCmp, Helvetica, sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;

  &.thin {
    font-family: $aleckSansLight;
    font-weight: 200;
  }

  &.bold {
    font-family: $font-aleck-bold;
    font-weight: 500;
  }

}

body {
  font-family: $font-aleck;
}

h1,
.h1 {
  font-size: 32px;
  // font-weight: 500;
  line-height: 32px;

  @include large-up {
    font-size: 52px;
    line-height: 60px;
  }
}

h2,
.h2 {
  font-size: 28px;
  line-height: 32px;

  @include large-up {
    font-size: 48px;
    line-height: 56px;
  }
}

h3,
.h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;

  @include large-up {
    font-size: 40px;
    line-height: 48px;
  }
}

p {
  font-size: 16px;
  line-height: 22px;
}
